src/main/resources/xsd/exposition.xsd

<!--https://www.freeformatter.com/xsd-generator.html with Venetian Blind styling-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ExpositionPieceDTOList" type="ExpositionPieceDTOListType"/>
    <xs:complexType name="standfirstDTOType">
        <xs:sequence>
            <xs:element type="xs:byte" name="id"/>
            <xs:element type="xs:string" name="rationale"/>
            <xs:element type="xs:string" name="approach"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="keyResultDTOListType">
        <xs:sequence>
            <xs:element type="xs:byte" name="id" minOccurs="0"/>
            <xs:element type="xs:string" name="description" minOccurs="0"/>
            <xs:element type="xs:byte" name="priority" minOccurs="0"/>
            <xs:element type="keyResultDTOListType" name="keyResultDTOList" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="citationDTOListType">
        <xs:sequence>
            <xs:element type="xs:byte" name="id" minOccurs="0"/>
            <xs:element type="xs:string" name="ref" minOccurs="0"/>
            <xs:element type="citationDTOListType" name="citationDTOList" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="expositionPieceDTOSType">
        <xs:sequence>
            <xs:element type="xs:byte" name="id" minOccurs="0"/>
            <xs:element type="xs:string" name="title" minOccurs="0"/>
            <xs:element type="xs:string" name="keyword" minOccurs="0"/>
            <xs:element type="standfirstDTOType" name="standfirstDTO" minOccurs="0"/>
            <xs:element type="xs:string" name="expositionPurpose" minOccurs="0"/>
            <xs:element type="xs:string" name="currentProgress" minOccurs="0"/>
            <xs:element type="xs:string" name="futureWork" minOccurs="0"/>
            <xs:element type="keyResultDTOListType" name="keyResultDTOList" minOccurs="0"/>
            <xs:element type="citationDTOListType" name="citationDTOList" minOccurs="0"/>
            <xs:element type="expositionPieceDTOSType" name="expositionPieceDTOS" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExpositionPieceDTOListType">
        <xs:sequence>
            <xs:element type="expositionPieceDTOSType" name="expositionPieceDTOS"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>