src/main/resources/xsd/exposition.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ExpositionPieceDTOList" type="ExpositionPieceDTOList"/>

    <xs:complexType name="Standfirst">
        <xs:sequence>
            <xs:element type="xs:long" name="id"/>
            <xs:element type="xs:string" name="rationale"/>
            <xs:element type="xs:string" name="approach"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KeyResult">
        <xs:sequence>
            <xs:element type="xs:long" name="id"/>
            <xs:element type="xs:string" name="description"/>
            <xs:element type="xs:int" name="priority"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyResults">
        <xs:sequence>
            <xs:element type="KeyResult" name="keyResults" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Citation">
        <xs:sequence>
            <xs:element type="xs:long" name="id"/>
            <xs:element type="xs:string" name="references"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Citations">
        <xs:sequence>
            <xs:element type="Citation" name="citation" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExpositionPiece">
        <xs:sequence>
            <xs:element type="xs:long" name="id"/>
            <xs:element type="xs:string" name="title"/>
            <xs:element type="xs:string" name="keyword"/>
            <xs:element type="Standfirst" name="standfirst"/>
            <xs:element type="xs:string" name="expositionPurpose"/>
            <xs:element type="xs:string" name="currentProgress"/>
            <xs:element type="KeyResults" name="keyResults"/>
            <xs:element type="xs:string" name="futureWork"/>
            <xs:element type="Citations" name="citations"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExpositionPieceDTOList">
        <xs:sequence>
            <xs:element type="ExpositionPiece" name="expositionPieces" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

