src/main/resources/xsd/exposition.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ExpositionPieceDTOList" type="ExpositionPieceDTOList"/>

    <xs:complexType name="StandfirstDTO">
        <xs:sequence>
            <xs:element type="xs:long" name="id" minOccurs="0"/>
            <xs:element type="xs:string" name="rationale" minOccurs="0"/>
            <xs:element type="xs:string" name="approach" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KeyResultDTO">
        <xs:sequence>
            <xs:element type="xs:long" name="id" minOccurs="0"/>
            <xs:element type="xs:string" name="description" minOccurs="0"/>
            <xs:element type="xs:int" name="priority" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyResultDTOList">
        <xs:sequence>
            <xs:element type="KeyResultDTO" name="keyResultDTOs" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CitationDTO">
        <xs:sequence>
            <xs:element type="xs:long" name="id" minOccurs="0"/>
            <xs:element type="xs:string" name="reference" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CitationDTOList">
        <xs:sequence>
            <xs:element type="CitationDTO" name="citationDTOs" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExpositionPieceDTO">
        <xs:sequence>
            <xs:element type="xs:long" name="id" minOccurs="0"/>
            <xs:element type="xs:string" name="title" minOccurs="0"/>
            <xs:element type="xs:string" name="keyword" minOccurs="0"/>
            <xs:element type="StandfirstDTO" name="standfirstDTO" minOccurs="0"/>
            <xs:element type="xs:string" name="expositionPurpose" minOccurs="0"/>
            <xs:element type="xs:string" name="currentProgress" minOccurs="0"/>
            <xs:element type="KeyResultDTOList" name="keyResultDTOList" minOccurs="0"/>
            <xs:element type="xs:string" name="futureWork" minOccurs="0"/>
            <xs:element type="CitationDTOList" name="citationDTOList" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExpositionPieceDTOList">
        <xs:sequence>
            <xs:element type="ExpositionPieceDTO" name="expositionPiece" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

