src/main/resources/xsd/fundamental.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="fundamentalPieceDTOList" type="FundamentalPieceDTOList"/>

    <xs:complexType name="Concept">
        <xs:sequence>
            <xs:element type="xs:long" name="id"/>
            <xs:element type="xs:string" name="purpose"/>
            <xs:element type="xs:string" name="description"/>
            <xs:element type="xs:int" name="priority"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Concepts">
        <xs:sequence>
            <xs:element type="Concept" name="Concept" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FundamentalPiece">
        <xs:sequence>
            <xs:element type="xs:long" name="id"/>
            <xs:element type="xs:string" name="title"/>
            <xs:element type="xs:string" name="keyword"/>
            <xs:element type="xs:string" name="prerequisites"/>
            <xs:element type="Concepts" name="concepts"/>
            <xs:element type="xs:string" name="summary"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FundamentalPieceDTOList">
        <xs:sequence>
            <xs:element type="FundamentalPiece" name="fundamentalPiece" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

