src/main/resources/xsd/fundamental.xsd

<!--https://www.freeformatter.com/xsd-generator.html with Venetian Blind styling-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="FundamentalPieceDTOList" type="FundamentalPieceList"/>

    <xs:complexType name="concept">
        <xs:sequence>
            <xs:element type="xs:long" name="id" minOccurs="0"/>
            <xs:element type="xs:string" name="purpose" minOccurs="0"/>
            <xs:element type="xs:string" name="description" minOccurs="0"/>
            <xs:element type="xs:int" name="priority" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="conceptList">
        <xs:sequence>
            <xs:element type="concept" name="concepts" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fundamentalPiece">
        <xs:sequence>
            <xs:element type="xs:long" name="id" minOccurs="0"/>
            <xs:element type="xs:string" name="title" minOccurs="0"/>
            <xs:element type="xs:string" name="keyword" minOccurs="0"/>
            <xs:element type="xs:string" name="prerequisites" minOccurs="0"/>
            <xs:element type="xs:string" name="summary" minOccurs="0"/>
            <xs:element type="conceptList" name="concepts" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FundamentalPieceList">
        <xs:sequence>
            <xs:element type="fundamentalPiece" name="fundamentalPieces" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>