src/main/resources/xsd/fundamental.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="fundamentalPieceDTOList" type="FundamentalPieceDTOList"/>

    <xs:complexType name="ConceptDTO">
        <xs:sequence>
            <xs:element type="xs:long" name="id" minOccurs="0"/>
            <xs:element type="xs:string" name="purpose" minOccurs="0"/>
            <xs:element type="xs:string" name="description" minOccurs="0"/>
            <xs:element type="xs:int" name="priority" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ConceptDTOList">
        <xs:sequence>
            <xs:element type="ConceptDTO" name="conceptDTOs" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FundamentalPieceDTO">
        <xs:sequence>
            <xs:element type="xs:long" name="id" minOccurs="0"/>
            <xs:element type="xs:string" name="title" minOccurs="0"/>
            <xs:element type="xs:string" name="keyword" minOccurs="0"/>
            <xs:element type="xs:string" name="prerequisites" minOccurs="0"/>
            <xs:element type="ConceptDTOList" name="conceptDTOList" minOccurs="0"/>
            <xs:element type="xs:string" name="summary" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FundamentalPieceDTOList">
        <xs:sequence>
            <xs:element type="FundamentalPieceDTO" name="fundamentalPiece" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

