XSD/fundamental.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="id" type="xs:byte"/>
    <xs:element name="purpose" type="xs:string"/>
    <xs:element name="description" type="xs:string"/>
    <xs:element name="priority" type="xs:byte"/>
    <xs:element name="conceptDTOList">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id" minOccurs="0"/>
                <xs:element ref="purpose" minOccurs="0"/>
                <xs:element ref="description" minOccurs="0"/>
                <xs:element ref="priority" minOccurs="0"/>
                <xs:element ref="conceptDTOList" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="title" type="xs:string"/>
    <xs:element name="keyword" type="xs:string"/>
    <xs:element name="prerequisites" type="xs:string"/>
    <xs:element name="summary" type="xs:string"/>
    <xs:element name="fundamentalPieceDTOS">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id" minOccurs="0"/>
                <xs:element ref="title" minOccurs="0"/>
                <xs:element ref="keyword" minOccurs="0"/>
                <xs:element ref="prerequisites" minOccurs="0"/>
                <xs:element ref="summary" minOccurs="0"/>
                <xs:element ref="conceptDTOList" minOccurs="0"/>
                <xs:element ref="fundamentalPieceDTOS" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="FundamentalPieceDTOList">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="fundamentalPieceDTOS"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>